<% include partials/_header %>

  <div class="form-container" action="">
    <form class="join-form">
      <input type="text" name="trainer-name" id="trainer-name" value="test" placeholder="Trainer Name">
      <input type="text" name="room-code" id="room-code" value="1234" placeholder="Room Code">
      <input type="submit" id="join-room" value="Join Room">
    </form>
  </div>

  <div class="game-container">
    <p class="player1"></p>
    <div class="stage-container">
      <img class="pokemon1">
      <img class="pokemon2">
      <img class="stage" src="/images/stage.png" alt="">
    </div>
    <p class="player2"></p>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    let socket = io();
    let user, userindex, room;
    $(document).ready(() => {
      $("#join-room").click((e) => {
        e.preventDefault();
        user = $("#trainer-name").val();
        room = $("#room-code").val();
        socket.emit("join room", { room: room, users: [user] });
      });
    });

    socket.on("hello", (hello) => {
      alert(hello);
    });

    socket.on("error message", (msg) => {
      alert(msg);
    });

    socket.on("user index", (index) => {
      userindex = index
    })

    socket.on("load game", () => {
      $(".form-container").remove();
      $(".game-container").css("display", "flex");
      $(".player1").text(user);
    });

    socket.on("start game", (data) => {
      if (userindex == 0) {
        $(".player2").text(data.users[1]);
        $(".pokemon1").attr("src", `http://www.pokestadium.com/sprites/xy/back/${data.pokemon[0]}.gif`)
        $(".pokemon2").attr("src", `http://www.pokestadium.com/sprites/xy/${data.pokemon[1]}.gif`)
      } else {
        $(".player2").text(data.users[0]);
        $(".pokemon1").attr("src", `http://www.pokestadium.com/sprites/xy/back/${data.pokemon[1]}.gif`)
        $(".pokemon2").attr("src", `http://www.pokestadium.com/sprites/xy/${data.pokemon[0]}.gif`)
      }
      console.log(data);
    });
  </script>

  <% include partials/_footer %>
