<% include partials/_header %>
<div class="container">
  <form class="join-form" action="/play" method="POST">
    <input type="text" name="trainer-name" id="trainer-name" value="test" placeholder="Trainer Name">
    <input type="text" name="room-code" id="room-code" value="1234" placeholder="Room Code">
    <input type="submit" id="join-room" value="Join Room">
  </form>
</div>
<% include partials/_footer %>
